<div class="page-header">
  <h1>
    Grades
    <a href="/grades/new" class="btn btn-lg btn-success">New Grade</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th> Blah </th>
        <th>User</th>
        <th>Course</th>
        <th>Number</th>
        <th>Letter</th>
        <th>Schoolyear</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @grades.each do |grade| %>
      <tr>
        <td><%= current_user.grades%></td>
        <td><%= grade.user_id %></td>
        <td><%= grade.course_id %></td>
        <td><%= grade.number %></td>
        <td><%= grade.letter %></td>
        <td><%= grade.schoolyear %></td>
        <td>
          <a href="/grades/<%= grade.id %>" class="btn btn-primary">Show</a>
          <a href="/grades/<%= grade.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_grade/<%= grade.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
