<!-- Validation failure messages -->
<% if @grade.errors.any? %>
  <% @grade.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3><%=current_user.email%>, please add your new grade!</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_grade" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group" hidden>
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user %>">
      </div>

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag 'course_id', options_from_collection_for_select(Course.all, 'id', 'course_name'),:class=> "form-control"%>

      <!-- Label and input for letter -->
      <div class="form-group">
        <label for="letter" class="control-label">
          Letter
        </label>

      <select id="letter" name="letter" class= "form-control">
        <option value="A1">A</option>
        <option value="B2">A-</option>
        <option value="B1">B+</option>
        <option value="B2">B</option>
        <option value="B3">B-</option>
        <option value="C1">C+</option>
        <option value="C2">C</option>
        <option value="C3">C-</option>
        <option value="D1">D+</option>
        <option value="D2">D</option>
        <option value="F">F</option>
      </select>

      <!-- Label and input for number -->
      <div class="form-group">
        <label for="number" class="control-label">
          Value
        </label>

        <input type="text" id="number" name="number" placeholder="Number" class="form-control" value="<%= @grade.number %>">

        <select id="letter" name="letter" class= "form-control">
        <option value="4">4.0</option>
        <option value="366">3.66</option>
        <option value="333">3.33</option>
        <option value="30">3.0</option>
        <option value="266">2.66</option>
        <option value="233">2.33</option>
        <option value="2">2.0</option>
        <option value="166">1.66</option>
        <option value="133">1.33</option>
        <option value="100">1.0</option>
        <option value="000">0.0</option>
      </div>

      <!-- Label and input for schoolyear -->
      <div class="form-group">
        <label for="schoolyear" class="control-label">
          Schoolyear
        </label>

        <input type="text" id="schoolyear" name="schoolyear" placeholder="Schoolyear" class="form-control" value="<%= @grade.schoolyear %>">
      </div>

      <button class="btn btn-success">
        Create Grade
      </button>
      or
      <a href="/grades">Cancel</a>
    </form>
  </div>
</div>
