<!-- Validation failure messages -->
<% if @grade.errors.any? %>
  <% @grade.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3><%=current_user.email%>, please add your new grade!</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_grade" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group" hidden>
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag 'course_id', options_from_collection_for_select(Course.all, 'id', 'course_name'),:class=> "form-control"%>

      <!-- Label and input for letter -->
      <div class="form-group">
        <label for="letter" class="control-label">
          Letter
        </label>

      <select id="letter" name="letter" class= "form-control">
        <option value="A+">A+ (4.3)</option>
        <option value="A">A (4.0)</option>
        <option value="A-">A- (3.66)</option>
        <option value="B+">B+ (3.33)</option>
        <option value="B">B (3.0)</option>
        <option value="B-">B- (2.66)</option>
        <option value="C+">C+ (2.33)</option>
        <option value="C">C (2.0)</option>
        <option value="C-">C- (1.66)</option>
        <option value="D+">D+ (1.33)</option>
        <option value="D">D (1.0)</option>
        <option value="F">F (0.0)</option>
      </select>

      <!-- Label and input for number -->
      <div class="form-group">
        <label for="number" class="control-label">
          Select Corresponding Value (in parenthesis above)
        </label>

        <select id="number" name="number" class= "form-control">
        <option value="4.3">4.3</option>
        <option value="4">4.0</option>
        <option value="3.66">3.66</option>
        <option value="3.33">3.33</option>
        <option value="3.0">3.0</option>
        <option value="2.66">2.66</option>
        <option value="2.33">2.33</option>
        <option value="2.0">2.0</option>
        <option value="1.66">1.66</option>
        <option value="1.33">1.33</option>
        <option value="1.00">1.0</option>
        <option value="0.00">0.0</option>
        </select>

      </div>

      <!-- Label and input for schoolyear -->
      <div class="form-group">
        <label for="schoolyear" class="control-label">
          Schoolyear
        </label>

        <input type="text" id="schoolyear" name="schoolyear" placeholder="Schoolyear" class="form-control" value="<%= @grade.schoolyear %>">
      </div>

      <button class="btn btn-success">
        Create Grade
      </button>
      or
      <a href="/grades">Cancel</a>
    </form>
  </div>
</div>
